.navbar-default{ 
      background-color: #FFFFFF;
      border-color: #FFFFFF;
     }
     .navbar-text {
    color: #666666; }

    .navbar-default .navbar-nav > li > a {
    color: #666666;
    }
    .navbar-default .navbar-brand {
    color: #666666;
    }
    .navbar-default .navbar-nav > li > a:hover{
    background-color: #FFFFFF;
    color: #282828;
    }
    .navbar-default .navbar-nav > li > a:hover > span{
    background-color: #FFFFFF;
    color: #1B90D5;
    }


    tr{
    cursor:pointer;}


    ul li {
    float: left;
    margin: 0;
    width:138px;
    height:50px;
    line-height:50px;
    position: relative;
    text-align:center;
    }
    
    ul li:hover:after,
    ul li.active:after,
    ul li.active:hover:after,
    ul li:focus:after {
        background-color: #FFFFFF;
        border: 1px solid #1B90D5;
        bottom: 0;
        content: "";
        left: 0;
        position: absolute;
        width: 132px;

    }

    .navbar-default .navbar-nav > .active > a, 
    .navbar-default .navbar-nav > .active > a:hover, 
    .navbar-default .navbar-nav > .active > a:focus{
        background-color: #FFFFFF;
        color: #1B90D5;
        font-weight: bold;
    }




  .chart {
  height: 280px;
  width: 560px;
  }

  .withSpaceTop {
      margin-top: 70px;
  }

  #courseList {
    /* Needed, otherwise items would be at top of the page (see below) */
    position: absolute;
    /* full width, or it would look strange */
    width: 100%;
  }
  #course {
    position: absolute;
    /* Top: 0; this will be changed for every single list item by AngularJS */
    top:0;
    /* Item height; hold this in sync with template file */
    height: 40px;
    /*  Simple transition */
    -webkit-transition: top 0.5s ease-in-out;
    -moz-transition: top 0.5s ease-in-out;
    transition: top 0.5s ease-in-out;
  }

  .custab{
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5% 0;
    box-shadow: 3px 3px 2px #ccc;
    transition: 0.5s;
  }
  .custab:hover{
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;
  }

  .SpacewhiteBottom {
    margin-top: 70px;
    height: 200px;
  }

  .glyphicon.glyphicon-user {
    font-size: 30px;
  }

    /* enable absolute positioning */
  .inner-addon { 
      position: relative; 
  }

  /* style icon */
  .inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
  }

  /* align icon */
  .right-addon .glyphicon { right: 0px;}

  /* add padding  */
  .right-addon input { padding-right: 30px; }

  .changethisone span{
    background-color: #FFF;
  }

.changethisone input{
    border-right-style:none;
  }

.switch.checked{
    background-color: #1B90D5;
    color: #1B90D5;
    border-color: #1B90D5;
  }