
<!-- ******************** NAVBAR ****************************** -->

     <nav ng-controller="NavController" class="navbar navbar-default navbar-fixed-top " scroll ng-show="navBarVisible"role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" ng-class="getClass('/home')" href="#/home"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar-collapse" ng-class="isCollapsed ? 'collapse' : 'in'">       
          <ul class="nav navbar-nav navbar-right">
            <li ng-class="getClass('/writeareview')"><a href="#/writeareview">Donner un avis</a></li>
            <li ng-class="getClass('/cours')"><a href="#/cours">Avis</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user" aria-hidden="true"></span><span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

<!-- ******************** NAVBAR END ****************************** -->



 <div class="container withSpaceTop">
  

  <h1 class="withSpaceTop"style="color: #1B90D5;">{{course.name}}</h1>
  <strong>Code :</strong> {{course.code}}, <strong>Note moyenne :</strong>, {{course.courseAverage}}, <strong>Taux de réussite :</strong> 80%



  <!-- <div class="row withSpaceTop" >
    <div class="col-md-5">
      <div 
        data-ac-chart="'line'" 
        data-ac-data="data" 
        data-ac-config="config" 
        class="chart">
      </div>
    </div>
    <div class="col-md-5 col-md-offset-2">
      <div 
        data-ac-chart="'line'" 
        data-ac-data="data" 
        data-ac-config="config" 
        class="chart">
      </div>
    </div>
  </div> -->
  <div class="row">
  <div class="col-md-5">
  <canvas id="bar" class="chart chart-bar"
  chart-data="data" chart-labels="labels" chart-series="series">
  </canvas>
  </div>
  </div>

<hr>

  <div class="row" style="margin-bottom: 50px;">
  <div class="col-md-3">
      <div style="width:310px;height:20px;position:relative;"> 
        <div style="position:absolute; left:0px; width:200px; height:20px;">
          <label for="date" class="">Date</label>
        </div>
        <div style="position:absolute; left:200px; width:100px; height:20px;" ng-click="sortReviews('orderByDate')">
          <switch id="date" name="orderByDate" ng-model="orderByDate"><switch>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div style="width:310px;height:20px;position:relative;"> 
        <div style="position:absolute; left:0px; width:200px; height:20px;">
          <label for="upvotes" class="">Upvotes</label>
        </div>
        <div style="position:absolute; left:200px; width:100px; height:20px;" ng-click="sortReviews('orderByUpvotes')">
          <switch id="upvotes" name="orderByUpvotes" ng-model="orderByUpvotes"><switch>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div style="width:310px;height:20px;position:relative;"> 
        <div style="position:absolute; left:0px; width:200px; height:20px;">
          <label for="orderByDescendingGrade" class="">Note décroissante</label>
        </div>
        <div style="position:absolute; left:200px; width:100px; height:20px;" ng-click="sortReviews('orderByDescendingGrade')">
          <switch id="orderByDescendingGrade" name="orderByDescendingGrade" ng-model="orderByDescendingGrade"><switch>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div style="width:310px;height:20px;position:relative;"> 
        <div style="position:absolute; left:0px; width:200px; height:20px;">
          <label for="orderByAscendingGrade" class="">Note croissante</label>
        </div>
        <div style="position:absolute; left:200px; width:100px; height:20px;" ng-click="sortReviews('orderByAscendingGrade')">
          <switch id="orderByAscendingGrade" name="orderByAscendingGrade" ng-model="orderByAscendingGrade"><switch>
        </div>
      </div>
    </div>
     

  </div>


  <div ng-repeat="review in course.reviews | orderBy: sort">
      
      <div class="row">
        <div class="col-md-3">
            
        <div class="well">
          <p><strong>Pédagogie :</strong> {{review.teachingGrade}}</p>
          <p><strong>Contenu :</strong> {{review.contentGrade}}</p>
          <p><strong>Moyenne :</strong> {{review.average}}</p>
          <p><strong>Points misés :</strong> {{review.bet}}</p>
          <p><strong>Professeur(s) :</strong> {{review.professor}}</p>
          <p><strong>Trimestre :</strong> {{review.trimester}}</p>
          <p><strong>Jour :</strong> {{review.day}}</p>
          <p><strong>Autheur :</strong> {{review.author}}</p>
          <p><strong>Date :</strong> {{review.year}}</p>
        </div>

  
        </div>
        
        
        <div class="col-md-9">
          
            <div class="well" style="margin-bottom:2px">
              <strong><p>Contenu :</p></strong>
              <p>{{review.contentReview}}</p>
              <strong><p>Pédagogie :</p></strong>
              <p>{{review.teachingReview}}</p>
            </div>

           
            <span class="glyphicon glyphicon-thumbs-up" style="color: #1c94d4; margin-bottom: 40px; margin-top: 5px; display:inline-block; cursor:pointer;"
          ng-click=""></span><span style="color:#43CD80;"> 0</span> 

        
        </div>
      </div>
    

    </div>

  </div>